# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
build
**/build

# Environment files
.env
.env.local
.env.development
.env.production
**/.env
**/.env.local

# System
.DS_Store
**/.DS_Store
*.log
**/*.log

# IDE
.vscode
.idea

# Vercel
.vercel
